[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
peewee = "*"
"psycopg2-binary" = "*"
requests = "*"
flask-cors = "*"
bleach = "*"
python-magic = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
